.alert {
  padding: 20px;
  border: 1px solid red;
  background-color: rgba(225, 115, 103, 0.3);
  font-weight: 400;
}
input.ng-invalid.ng-touched {
  border: 1px solid red;
  background-color: rgba(225, 115, 103, 0.1);
}
