input.ng-invalid.ng-touched {
  border: 1px solid red;
  background-color: rgba(225, 115, 103, 0.1);
}
.up {
  border-radius: 100px;
  z-index: 1;
  margin-bottom: -4em;
}
.btnWrapper {
  text-align: center;
}
