<form [formGroup]="searchForm">
  <div class="row">
    <div class="col-xs-12">
      <label for="city">City</label>
      <input
        type="text"
        id="city"
        formControlName="city"
        class="form-control"
        [(ngModel)]="hotelList.city">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <label for="country">Country</label>
      <input
        type="text"
        id="country"
        formControlName="country"
        class="form-control"
        [(ngModel)]="hotelList.country">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <label for="rooms">rooms</label>
      <input
        type="number"
        id="rooms"
        formControlName="rooms"
        class="form-control"
        [(ngModel)]="hotelList.rooms">
    </div>
  </div>
  <button
    style="margin-top: 0.25em"
    class="btn btn-success"
    type="button"
    (click)="hotelList.search()"
    [disabled]="!searchForm.valid">Search
  </button>
  <button
    style="margin-top: 0.25em"
    class="btn btn-danger"
    type="button"
    (click)="hotelList.cancel()">Cancel
  </button>
  <app-filtered-hotel-list #hotelList></app-filtered-hotel-list>
  <br>
  <div class="btnWrapper">
    <button
      class="btn btn-default up"
      (click)="onUp()">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </button>
  </div>
  <hr>
</form>


