html {
  height: 100%;
  position: relative;

}
body {
  height: 100%;
  background-color: lightgray;
}

.btn {
  border-radius: 0em;
  font-weight: 400;
}
.btn:hover {
  border-radius: 0em;
  font-weight: 400;
}

