<form (ngSubmit)="onSignin(f)" #f="ngForm">
  <div class="form-group">
    <label for="email">Mail</label>
    <input
      type="text"
      id="email"
      name="email"
      ngModel
      class="form-control"
      required
      email>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      ngModel
      class="form-control"
      required>
  </div>
  <div
    *ngIf="error"
    class="alert">
    <p style="margin-bottom: 0.2em">{{authService.error}}</p>
  </div>
  <button class="btn btn-success" type="submit">Login</button>
  <br>
  <a style="margin-top: 1em" routerLink="/register">Need to register?</a>
</form>
